html, body {
  height: 100%;
  margin: 0;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f18e7c;
}

.form-login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 100px auto 20px; 
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-login input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-login button {
  text-transform: uppercase;
  outline: 0;
  background: #17869c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-login button:hover, .form-login button:active, .form-login button:focus {
  background: #156d7c;
}

.form-login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form-login .message a {
  color: #9c0c50;
  text-decoration: none;
}

.form-login .register-form {
  display: none;
}

.button-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
  padding: 45px;
  text-align: center;
}

.button-return {
  color: #9c0c50;
  font-size: 50px;
  border: 5px;
  border-color: #20dab9;
  background: #f18e7c;
  cursor: pointer;
}

.button-return p {
  margin-top: 8px; 

}
.button-text {
  color: #9c0c50;
}