.loading {
  font-size: 2rem;
  margin: 20px auto 0;
  animation: spinLoading 1s infinite;
  width: 100%;
}

@keyframes spinLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}